#sl{
    aspect-ratio: 4 / 3;
   height: 100%;
   width: 100%;
    margin:0 auto;
    object-fit: contain;
    animation:opac 1s linear forwards;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 1s ease-out;
        
}
*{
    user-select: none;
}
*,*::after,*::before{
    box-sizing: border-box;
}
@keyframes opac {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}
#device{
    height:500px;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;


}
#main-container{
    display: flex;
    align-items: center;
    position: relative;
}
#dots{
    position: absolute;
    display: flex;
    bottom:0;
    left:44vw;
    
}
#dots>*{
    background-color: white;
    border-radius: 100%;
}